body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C49A6C;
    color: white;
    padding: 10px 20px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    color: white;
    text-decoration: none;
}

img{
  height: 4vw; 
}

.cim{
        background-image: url("images/hatter.PNG");
        background-size: cover; 
        background-position: center center;
}

#elso{
    background-color: #C49A6C;
    height: 50px;
    width: 120px;
    font-size: 1rem;
    text-align: center;
}

#masod{
    background-color: EAE0D5;
    height: 50px;
    width: 120px;
    font-size: 1rem;
    text-align: center;
}